@use"reset";
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
    background-color: #e5e5e5;
    font-family: 'Nunito', sans-serif;

}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #3a6f88;
    color: #f5f5f5;
    font-size: 1.5rem;
    min-height: 4rem;

    &__button {
        background-color: transparent;
        color: aliceblue;

        @media (min-width: 600px) {
            display: none;
        }
    }

    img {
        float: left;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: aliceblue;
    }

    &__collapse {
        @media (max-width: 599px) {
            display: none;
        }

        >ul {
            display: flex;
            gap: 1rem;
            list-style: none;
        }

        &--show {
            display: block;
            width: 100%;

            >ul {
                flex-direction: column;
                padding: 0;
            }
        }
    }
}

.hero {
    display: grid;
    grid-template-areas: "stack";
    justify-content: stretch;
    margin-top: 10px;

    >* {
        grid-area: stack;
    }

    h1 {
        color: aliceblue;
        place-self: center;
    }
}

.filter {
    filter: brightness(50%);
}

.flow>*+* {
    margin-top: var(--flow-space, 1rem);
}

footer {
    background-color: black;
    color: aliceblue;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.show {
    display: flex;
}

.hide {
    display: none;
}


a {
    text-decoration: none;
}

a:hover {
    background-color: rgb(86, 86, 86);
}


h2 h3 {
    margin-left: 15%;
    margin-right: 15%;
}

.container {
    width: min(80ch, 100vw - 2rem);
    margin-inline: auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e5e5e5;
}

.inputStile {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.newbutton {
    margin-top: 10px;
}

.forum {
    margin-top: 20px;
    background-color: #4C2C72;
    padding: 1rem;
}

.post {
    margin-bottom: 20px;
    list-style: none;
    background-color: #653A97;
    padding: 10px;
    border-radius: 10px;
    
    h1{
        color: #f5f5f5;
        margin-bottom: 5px;
        padding: 5px;
        font-size: 2rem;
    }
    a{
        color: rgb(240, 240, 240);
        text-decoration: none;
    }
}

.content{
    border-radius: 5px;
    background-color: #e5e5e5;
    padding: 5px;
    margin: 1rem;

    h2{
        font-size: 1.5rem;
    }

    p{
        margin-top: 10px;
    }
    
    a{
        color:rgb(21, 3, 128)
    }
}