{% extends "layout.njk" %}
{% block content %}
<main class="container flow">
  <header class="hero">
      <img class="filter" src="https://picsum.photos/1280/720" alt="placholder">
      <div class="centered">Hej saker händer och jag vet inte varför</div>
  </header>
  <section class="flow">
    <h2>Men om du trycker den <a href="/new">länk</a></h2>
    <p>Den leder dig till en intresant område</p>
  </section>

  <section class="flow">
    <h2>Du kan också trycka på <a href="/forum">forum</a></h2>
    <p>Där kan du se vad persoenr säger</p>
  </section>


  <footer class="container">
    <p>Copyright 2023 Lukas</p>
    <p>Den är min copyright nu Lukas. HAHAHAHAHA ;)</p>
</main>
{% endblock %}