<nav class="navbar">
    <div class="container">
    <img src="/img/fri.png" alt="friterad stefan" width="100px" height="100px">
    <button class="navbar__button">
        BURGLARKNAPP
    </button>
    <div class="navbar__collapse">
        <ul class="menu">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/forum">Forum</a>
            </li>
            <li>
                <a href="/new">Make post</a>
            </li>
            <li>
                <a href="/users">Users</a>
            </li>
        </ul>
    </div>
</div>
</nav>