<nav class="navbar">
    <div class="container">
    <img src="/img/fri.png" alt="friterad stefan" width="100px" height="100px">
    <button class="navbar__button">
        BURGLARKNAPP
    </button>
    <div class="navbar__collapse">
        <ul class="menu">
            {% if expr %}
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/forum">Forum</a>
            </li>
            <li>
                <a href="/profile">Profile</a>
            </li>
            <li>
                <a href="/new">Post</a>
            </li>

            {% else %}
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/forum">Forum</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/register">Register</a>
            </li>
            
            {% endif %}
        </ul>
    </div>
</div>
</nav>